@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --font-montserrat: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --foreground: oklch(37.08% 0.0296 264.12);
  --background: #EFF5F8;
  --accent: oklch(48.85% 0.159482 254.7535);
  --accent-hover: oklch(42.97% 0.1333 253.84);

  
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-white text-foreground;
  }
}
